.syncing {
    background: url("../static/images/syncing.svg") no-repeat top left;
    margin-left: 5px;
    margin-top: 5px;
    width: 33px;
    height: 36px;
}

.syncing-active {
    animation: syncing 3.2s ease-in-out;
}

.done {
    background: url("../static/images/done.svg") no-repeat top left;
    margin-left: 5px;
    margin-top: 5px;
    width: 37px;
    height: 34px;
}

.done-active {
    -webkit-animation: done .5s ease-in 3.2s;
    animation: done .5s ease-in 3.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}